.navbar-default {

background-color: #fff;

border-radius: 0;
border: 0;

  ul {
    list-style: none;
    li {
      a {

      }
    }
  }
}




@media only screen and (min-width:1024px)
{

  .navbar-default {

  position: absolute;
  width: 285px;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;

  border-radius: 0;
  border: 0;

  margin-bottom: 0;

    ul {
      list-style: none;
      li {
        a {

        }
      }
    }
  }

}
