* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;

}
body {
  font: 300 13px/1.6 'Roboto', sans-serif;
  color: #444;
  transition: all .4s .3s ease-in;

  background-color: rgba(255, 242, 198, 0);
  background-size: cover;
  background-repeat: no-repeat;
}
body,html{
	min-height: 100%;
	overflow: auto;
}
