{{> html-header }}

  <div class="main-container">

    <div class="container home">

      {{> nav-bar }}

      <h1>Testing Layout</h1>


      {{> contact-us-info}}


    </div>
  </div>


{{> html-footer }}
