<div class="contact-us-info">
  <h3>Get In Touch</h3>
  <div class="col-md-6 col-div-md-right">
    <ul>
      <li>Name: name</li>
      <li>Email: email</li>
      <li>Phone: phone</li>
    </ul>
  </div>
  <div class="col-md-6">
    <p>
      Address here <br>
      Another line <br>
      Postcode etc
    </p>
  </div>
</div>
